@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');



#main{
    height: 100vh;
    width: 100%;
    display: flex;
    direction: row;
    font-family: 'Titillium Web', sans-serif;
}
#logo{
    margin-top: 1vh;
}
#dashboard{
    margin-top: 5vh;
    margin-bottom:2vh;
    font-size: 18px;
    color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}
#totalcontacts{
    width:85%;
    height:8%;
    background-color:#2DA5FC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
}
#logout{
margin-top: 50vh;
background-color: #CEF3FF;
border: none;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
cursor: grab;
}
#blue-box{
    height: 100%;
    width:20%;
    background-color: #CEF3FF;
    display: flex;
    flex-direction: column;
    align-items: center;  
}



#Table-box{
height: 100vh;
width:85%;
/* background-color:yellow ; */
display: flex;
flex-direction: column;
}
#header{
    height: 15vh;
    width:100%;
    display:flex;
    align-items: center;
    border-bottom: 2px solid #EAEAEA;
}
#contact{
font-family: "Titillium Web";
font-weight: 600;
font-size: 32px;
color:#454545;
margin-left: 4%;
}
#search-bar{
    margin-left: 20%;
    position: relative;
    margin-bottom: 4vh;
}
#searchtext{
    position: absolute;
    z-index: 1;
}
#searchinput{
    padding-left: 10%;
    height:4vh;
    border: #F2F2F2;
    background-color: #F2F2F2;
    font-size: 12px;
}
#searchicon{
    position: absolute;
    z-index: 2;
    top:4px;
    left:4px;
}
#user{
  margin-left: 40%;
  margin-right: 1%;
}
#nav-bar{
    display: flex;
    height:8vh;
    width:100%;
    align-items: center;
    align-items:flex-end;
}
#mybtn{
    margin-left: 24%;
}
.btn{
width: 138px;
height: 32px;
background-color: #FFFFFF;
box-shadow:  1px 5px 20px 0px #0000001A;
border:none;
font-size: 18px;
border-radius: 10px;
margin-right: 10px;
}
#select{
    margin-left: 3%;
}
